.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }
  hr {
    width: 100%;
    border: 0;
    height: 1px;
    margin-top: 0px;
    background-color: #000;
}
.navbar a {
    display: inline-block;
    position: relative;
    color: #000;
    text-decoration: none;
    overflow: hidden;
}

.navbar a:after {
    content: "";
    position: absolute;
    background-color: #ffc107;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    transition: .35s ease;
}

.navbar a:hover:after {
    width: 100%;
}